rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {

      match /uploads/{uploadID}{
        allow read;
      }

      match /users/{userID} {
        allow read;
        allow create: if isValidUser(userID);
      }

      match /usernames/{username} {
        allow read;
        allow create: if isValidUsername(username);
      }

      match /users/{userID}/uploads/{uploadID} {
        allow read;
        allow create: if canUpload(userID);
      }

        match /users/{userID}/uploads/{uploadID}/likes/{id} {
        allow read;
        allow create: if canLike(userID, uploadID);
        allow delete: if request.auth.uid == resource.data.uid;
      }
      
        match /users/{userID}/uploads/{uploadID}/dislikes/{id} {
        allow read;
        allow create: if canDislike(userID, uploadID);
        allow delete: if request.auth.uid == resource.data.uid;
      }

      match /users/{userID}/uploads/{uploadID} {
        allow read;
        allow update: if validViewUpdate()
      }
      
      match /users/{userID}/uploads/{uploadID}/comments/{commentID} {
        allow read;
        allow write: if canComment();
      }
      
    }

    function isValidUser(userID) {
      let isOwner = request.auth.uid == userID;
      let username = request.resource.data.username;
      let createdValidUsername = existsAfter(/databases/$(database)/documents/usernames/$(username));
      let validField = hasAll(["username", "photoURL"]);
      let validTypes = request.resource.data.username is string && request.resource.data.photoURL is string;

      return isOwner && createdValidUsername && validField && validTypes;
    }

    function isValidUsername(username) {
			let isOwner = request.auth.uid == request.resource.data.uid;
      let isValidLength = username.size() >= 3 && username.size() <= 15;
      let isValidUserDoc = getAfter(/databases/$(database)/documents/users/$(request.auth.uid)).data.username == username;
      let validType = request.resource.data.uid is string;
      
      return isOwner && isValidLength && isValidUserDoc && validType && hasAll(["uid"]);
    }

    function canUpload(userID){
      let isOwner = request.auth.uid == userID;
      let isAuthor = request.resource.data.author == userID;
      let validField = hasAll(["author", "createdAt", "description", "id", "thumbnailURL", "title", "videoURL", "views"]);
      let validTypes = request.resource.data.author is string
      && request.resource.data.createdAt is timestamp
      && request.resource.data.description is string
      && request.resource.data.id is string
      && request.resource.data.thumbnailURL is string
      && request.resource.data.title is string
      && request.resource.data.videoURL is string
      && request.resource.data.views is number;
      let isValidTitleLength = request.resource.data.title.size() >= 3 && request.resource.data.title.size() <= 50;
      let isValidDescriptionLength = request.resource.data.description.size() >= 3 && request.resource.data.description.size() <= 100;
      return isOwner && isAuthor && validField && validTypes && isValidTitleLength && isValidDescriptionLength;
    }

    function validViewUpdate() {
      let validField = onlyEditFields(['views']);
      let validType = request.resource.data.views is number;
      let correctInc = request.resource.data.views == resource.data.views + 1;
      return validField && validType && correctInc
    }

    function canLike(userID, uploadID) {
      let isNotOwner = request.auth.uid != userID;
      let hasNotDisliked = !existsAfter(/databases/$(database)/documents/users/$(userID)/uploads/$(uploadID)/dislikes/$(request.auth.uid));
      let validField = hasAll(["uid"]);
      let validId = request.auth.uid == request.resource.data.uid;
      let validType = request.resource.data.uid is string;

      return isNotOwner && hasNotDisliked && validField && validId && validType;
    }
    
    function canDislike(userID, uploadID) {
      let isNotOwner = request.auth.uid != userID;
      let hasNotLiked = !existsAfter(/databases/$(database)/documents/users/$(userID)/uploads/$(uploadID)/likes/$(request.auth.uid));
      let validField = hasAll(["uid"]);
      let validId = request.auth.uid == request.resource.data.uid;
      let validType = request.resource.data.uid is string;

      return isNotOwner && hasNotLiked && validField && validId && validType;
    }

    function canComment() {
      let validFields = hasAll(["comment", "createdAt", "username", "photoURL"]);
      let validTypes = request.resource.data.comment is string && 
      request.resource.data.createdAt is timestamp &&
      request.resource.data.username is string &&
      request.resource.data.photoURL is string;
      let validUsername = getAfter(/databases/$(database)/documents/users/$(request.auth.uid)).data.username == request.resource.data.username;
      let validLength = request.resource.data.comment.size() >= 3 && request.resource.data.comment.size() <= 100;
      return validFields && validTypes && validUsername && validLength;
    }

    function hasAll(fields) {
      return request.resource.data.keys().hasAll(fields) && hasOnly(fields);
    }

    function hasOnly(fields){
      return request.resource.data.keys().hasOnly(fields);
    }

    function onlyEditFields(allowedFields) {
      let editedKeys = request.resource.data.diff(resource.data).affectedKeys();
      return editedKeys.hasOnly(allowedFields);
    }
  }
}