.root {
    min-height: 90vh;
    background-color: var(--primary);
    border-radius: 15px;
}

.filter {
    width: 100px;
    min-height: 40px;
    margin: 20px;
    border-radius: 15px;
    appearance: none;
    border: none;
    outline: none;
    background-color: var(--bg);
    color: white;
    text-align: center;
    cursor: pointer;
}

.filter:disabled {
    background-color: var(--accent);
}

.feed {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.vid-container {
    margin: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.vid-container-vert {
    margin: 10px;
    cursor: pointer;
    display: grid;
    grid-template-areas:
        "Video Title"
        "Video Username"
        "Video Views";

    grid-template-columns: minmax(300px, auto);
}

.video {
    position: relative;
    aspect-ratio: 16/9;
    border-radius: 25px;
    overflow: hidden;
    transition: filter 0.5s ease;
}

.info-container {
    margin-top: 20px;
    display: flex;
}

.profile {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* Auto to stop weird css margin collapsing */
    overflow: auto;
    cursor: pointer;
}


.text-container {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: white;
    transition: 0.5s;
}

.title-vert {
    font-size: 20px;
}

.misc-text {
    margin: 0;
    font-size: 20px;
    color: var(--text-color);
    transition: 0.5s;
}

.misc-text-vert {
    font-size: 15px;
}

.end-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.end-text {
    color: white;
    font-size: 30px;
}