.root {
    min-height: 90vh;
    background-color: var(--primary);
    border-radius: 15px;
}

.feed {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.vid-container {
    margin: 20px;
    position: relative;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.video {
    aspect-ratio: 16/9;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    transition: filter 0.5s ease;
}

.hover {
    filter: blur(4px);
}

.title {
    position: absolute;
    bottom: 5px;
    left: 15px;
    margin-left: 10px;
    font-size: 30px;
    color: white;
    opacity: 0;
    transition: 0.5s;
}

.description {
    position: absolute;
    bottom: 0px;
    left: 15px;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    opacity: 0;
    transition: 0.5s;
}

.appear {
    opacity: 1;
}

.end-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.end-text {
    color: white;
    font-size: 30px;
}