.root {
    background-color: var(--primary);
    border-radius: 15px;
}


.section {
    display: flex;
    justify-content: space-between;
}

.container {
    position: relative;
    width: 20vw;
    height: 12vw;
    border-radius: 25px;
    margin: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.title {
    position: absolute;
    bottom: 5px;
    left: 16px;
    margin-left: 10px;
    font-size: 30px;
    color: white;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.description {
    position: absolute;
    bottom: 0px;
    left: 16px;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.appear {
    visibility: visible;
    opacity: 1;
}

.video {
    position: relative;
    width: 20vw;
    height: 12vw;
    border-radius: 25px;
    display: inline;
    overflow: hidden;
    transition: filter 0.5s ease;
}

.hover {
    filter: blur(4px);
}

.center {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.end-text {
    color: white;
    font-size: 30px;
}