.text-box {
    height: 60px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.name {
    color: var(--text-color)
}

.text-box input {
    width: 250px;
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    background: var(--bg);
    border: 1px solid var(--text-color);
    appearance: none;
    outline: none;
    color: white;
    font-family: Poppins-Regular, sans-serif;
    transition: all 0.25s ease;
}

.text-box input:focus {
    border: 1px solid rgb(55, 90, 200);
    outline: 2px solid rgba(55, 90, 200, 0.5);
}