.container {
    height: 20px;
    width: 200px;
    margin-left: 25px;
    background-color: var(--text-color);
    border-radius: 50px;
}

.filler {
    height: 100%;
    border-radius: inherit;
    background-color: var(--accent);
    text-align: right;
    transition: width 400ms cubic-bezier(0.08, 0.82, 0.2, 1);
}

@media screen and (max-width: 1400px) {
    .container {
        width: 60px;
    }
}