.file-input {
    width: 180px;
    height: 50px;
    margin-top: 20px;
    border-radius: 25px;
    background-color: var(--bg);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.file-input-text {
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}