.root {
    height: 90vh;
    background-image: url("../public/bg2.webp");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--primary);
    height: 90%;
    width: 50%;
    min-width: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-login-text {
    color: white;
    font-size: 30px;
}