.root {
    min-height: 90vh;
    background-color: var(--bg);
}

.watch-container {
    display: flex;
}

.feed-container {
    margin: 2.5vw 0 2.5vw 0;
}

.video {
    width: 65vw;
    margin: 2.5vw;
    border-radius: 15px;
    object-fit: contain;
}

.info-container {
    width: 65vw;
    height: 25vh;
    margin-left: 2.5vw;
    border-radius: 15px;
    background-color: var(--primary);
}

.author-container {
    display: flex;
    align-items: center;
}

.profile {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    /* Auto to stop weird css margin collapsing */
    overflow: auto;
    cursor: pointer;
}

.username {
    margin-left: 20px;
    color: var(--text-color);
    font-size: 25px;
}

.like-container {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    cursor: pointer;
}

.title {
    margin: 0 0 0 20px;
    color: white;
    font-size: 30px;
}

.desc {
    margin: 0 0 0 20px;
    color: var(--text-color);
    font-size: 20px;
}

.date {
    margin: 0 0 0 20px;
    color: var(--text-color);
    font-size: 12px;
}

.nothing-container {
    display: flex;
    justify-content: center;
}

.nothing-text {
    color: var(--text-color);
    font-size: 30px;
}

@media screen and (max-width: 1400px) {
    .watch-container {
        flex-direction: column;
    }

    .vid-container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video {
        background-color: var(--primary);
        width: 95vw;
    }

    .info-container {
        width: 95vw;
        height: 30vh;
        margin: 0;
    }

    .feed-container {
        display: flex;
        justify-content: center;
    }
}